
.navbar-logo{
    display: flex;
    justify-content: flex-end;

}
.navbar-logo img{
    padding: 25px 8px 0px 0px;
    cursor: pointer;
  }

  .navbar-label{
    display: inline-block;
    padding:0px 0px 0px 12px;
    position: relative;
    top:2.5px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 38px;
    color: black;
    font-family: "Lato";
    font-weight: 400;
    list-style: none;
    align-items: center;
  }
  .navbar-box:first-child{
margin-top: 53px;
border-top: 1px solid black;
  }
  .navbar-box{
    height: 40px;
    margin-top: 0px;
    border-bottom: 1px solid black;
    align-content: center;

  }

.flex1{
  display: flex;
  flex-direction: row;
}

.label {
  display: block;
  margin-bottom: 10px; }

button {
  display: block;
  margin-top: 10px; }

.button{
    display: flex;
    flex-direction: row;
  }

  